In [ ]:
#test comment

In [1]:
import pandas as pd
import numpy as np
import glob # to find all files in folder
from datetime import datetime
from datetime import date, time
from dateutil.parser import parse
pd.options.mode.chained_assignment = None  # default='warn'

# Advanced Exo from intro to pandas

In [2]:
def load_data():
    sl_files=glob.glob('Data/ebola/sl_data/*.csv')
    guinea_files=glob.glob('Data/ebola/guinea_data/*.csv')
    liberia_files=glob.glob('Data/ebola/liberia_data/*.csv')
    sl = pd.concat((pd.read_csv(file,  parse_dates=['date']) for file in sl_files), ignore_index=True)
    guinea = pd.concat((pd.read_csv(file , parse_dates=['Date']) for file in guinea_files), ignore_index=True)
    liberia = pd.concat((pd.read_csv(file , parse_dates=['Date']) for file in liberia_files), ignore_index=True)
    return (sl, guinea, liberia)

#test github baptiste

In [3]:
(sl, guinea, liberia) = load_data()

In [240]:
def select_features(data, var_name, features):
    return data[data[var_name].isin(features)]

In [241]:
# take the relevant variables
sl_relevant = select_features(sl, 'variable', ['new_confirmed', 'death_confirmed'])
guinea_relevant = select_features(guinea, 'Description', ['New cases of confirmed', 'New deaths registered today'])
liberia_relevant = select_features(liberia, 'Variable', ['Total death/s in confirmed cases', 'Total confirmed cases'])

In [242]:
# rename the variables and cols
var_name = 'vars'
sl_relevant.rename(columns={'variable': var_name}, inplace=True)
guinea_relevant.rename(columns={'Description': var_name, 'Date': 'date'}, inplace=True)
liberia_relevant.rename(columns={'Variable': var_name, 'Date': 'date'}, inplace=True)

new_infected = 'new_infected'
new_death= 'new_death'
sl_relevant[var_name][sl_relevant[var_name] == 'new_confirmed'] = new_infected
sl_relevant[var_name][sl_relevant[var_name] == 'death_confirmed'] = new_death

guinea_relevant[var_name][guinea_relevant[var_name] == 'New cases of confirmed'] = new_infected
guinea_relevant[var_name][guinea_relevant[var_name] == 'New deaths registered today'] = new_death

liberia_relevant[var_name][liberia_relevant[var_name] == 'Total confirmed cases'] = new_infected
liberia_relevant[var_name][liberia_relevant[var_name] == 'Total death/s in confirmed cases'] = new_death

In [243]:
# rename the data
sl_clean = sl_relevant
guinea_clean = guinea_relevant
liberia_clean = liberia_relevant

In [244]:
def remove_rows_and_cols_with_only_nan(data):
    return data.dropna(axis=1, how='all').dropna(axis=0, thresh=3)
sl_clean = remove_rows_and_cols_with_only_nan(sl_clean)
guinea_clean = remove_rows_and_cols_with_only_nan(guinea_clean)
liberia_clean = remove_rows_and_cols_with_only_nan(liberia_clean)

In [245]:
# replace all NaNs with 0
sl_clean.fillna(value=0, inplace=True)
guinea_clean.fillna(value=0, inplace=True)
liberia_clean.fillna(value=0, inplace=True)

In [246]:
# make all types numeric
def change_to_numeric(data):
    col_list = list(data.columns)
    col_list.remove('date')
    col_list.remove(var_name)
    data[col_list] = data[col_list].apply(pd.to_numeric)
    
change_to_numeric(sl_clean)
change_to_numeric(guinea_clean)
change_to_numeric(liberia_clean)

In [247]:
#  create a total colon
def add_and_fill_total_col(data, ignore_cols_list):
    col_list = list(data.columns)
    for c in ignore_cols_list:
        col_list.remove(c) 
    data['total'] = data[col_list].sum(axis=1)
add_and_fill_total_col(sl_clean, ['date', var_name, 'National'])
add_and_fill_total_col(guinea_clean, ['date', var_name, 'Totals'])
add_and_fill_total_col(liberia_clean, ['date', var_name, 'National'])

In [248]:
# remove unused cols:
sl_clean = sl_clean[['date', var_name, 'total']]
guinea_clean = guinea_clean[['date', var_name, 'total']]
liberia_clean = liberia_clean[['date', var_name, 'total']]

In [249]:
len(sl_clean)

199

In [250]:
len(guinea_clean)

23

In [251]:
len(liberia_clean)

141

In [252]:
liberia_clean['date']

4      2014-06-16
28     2014-06-16
35     2014-06-17
59     2014-06-17
66     2014-06-22
90     2014-06-22
97     2014-06-24
121    2014-06-24
128    2014-06-25
152    2014-06-25
159    2014-06-28
183    2014-06-28
190    2014-06-29
214    2014-06-29
221    2014-07-01
245    2014-07-01
252    2014-07-02
276    2014-07-02
283    2014-07-03
307    2014-07-03
314    2014-07-07
338    2014-07-07
345    2014-07-08
369    2014-07-08
376    2014-07-10
400    2014-07-10
407    2014-07-13
431    2014-07-13
438    2014-07-17
462    2014-07-17
          ...
2095   2014-07-26
2102   2014-09-10
2126   2014-09-10
2133   2014-10-03
2157   2014-10-03
2188   2014-10-23
2220   2014-10-24
2252   2014-10-25
2284   2014-10-28
2316   2014-10-29
2348   2014-10-30
2380   2014-10-31
2412   2014-11-02
2444   2014-11-04
2476   2014-11-08
2484   2014-11-14
2508   2014-11-14
2540   2014-11-15
2572   2014-11-19
2636   2014-11-21
2668   2014-11-23
2700   2014-11-24
2732   2014-11-26
2764   2014-11-27
2796   2014-11-28
2828   2014-11-29
2860   2014-11-30
2892   2014-12-01
2924   2014-12-02
2956   2014-12-03
Name: date, dtype: datetime64[ns]

In [253]:
#rename data
sl_final = sl_clean
liberia_final = liberia_clean
guinea_final = guinea_clean

In [254]:
liberia_final.head()

         date          vars  total
4  2014-06-16     new_death    4.0
28 2014-06-16  new_infected   12.0
35 2014-06-17     new_death    8.0
59 2014-06-17  new_infected   13.0
66 2014-06-22     new_death   16.0

In [255]:
guinea_final.head()

          date          vars  total
2   2014-08-04  new_infected    4.0
8   2014-08-04     new_death    2.0
44  2014-08-26  new_infected   10.0
76  2014-08-27  new_infected   10.0
108 2014-08-30  new_infected    9.0

In [256]:
sl_final.head()

         date          vars  total
4  2014-08-12  new_infected   11.0
11 2014-08-12     new_death  264.0
33 2014-08-13  new_infected   15.0
40 2014-08-13     new_death  273.0
62 2014-08-14  new_infected   13.0

In [257]:
# create infected and death cols
def create_inf_death_cols(data):
    inf = data[data['vars'] == new_infected]
    inf[new_infected] = inf['total']
    death = data[data['vars'] == new_death]
    death[new_death] = death['total']
    res = data.join(inf[new_infected], how='outer')
    return res.join(death[new_death], how='outer')
sl_final = create_inf_death_cols(sl_final)
liberia_final = create_inf_death_cols(liberia_final)
guinea_final = create_inf_death_cols(guinea_final)

In [258]:
sl_final.head()

         date          vars  total  new_infected  new_death
4  2014-08-12  new_infected   11.0          11.0        NaN
11 2014-08-12     new_death  264.0           NaN      264.0
33 2014-08-13  new_infected   15.0          15.0        NaN
40 2014-08-13     new_death  273.0           NaN      273.0
62 2014-08-14  new_infected   13.0          13.0        NaN

In [259]:
# remove vars & total col
sl_final = sl_final.drop(var_name, 1).drop('total', 1)
liberia_final = liberia_final.drop(var_name, 1).drop('total', 1)
guinea_final = guinea_final.drop(var_name, 1).drop('total', 1)

In [260]:
sl_final.head()

         date  new_infected  new_death
4  2014-08-12          11.0        NaN
11 2014-08-12           NaN      264.0
33 2014-08-13          15.0        NaN
40 2014-08-13           NaN      273.0
62 2014-08-14          13.0        NaN

In [261]:
liberia_final = liberia_final.groupby('date', as_index=False).sum()
sl_final = sl_final.groupby('date', as_index=False).sum()
guinea_final = guinea_final.groupby('date', as_index=False).sum()

In [262]:
# add 'country' col
sl_final['country'] = 'sl'
guinea_final['country'] = 'guinea'
liberia_final['country'] = 'liberia'

In [263]:
guinea_final.head()

        date  new_infected  new_death country
0 2014-08-04           4.0        2.0  guinea
1 2014-08-26          10.0        NaN  guinea
2 2014-08-27          10.0        NaN  guinea
3 2014-08-30           9.0        NaN  guinea
4 2014-08-31          29.0        NaN  guinea

In [264]:
liberia_final.head()

        date  new_infected  new_death  country
0 2014-06-16          12.0        4.0  liberia
1 2014-06-17          13.0        8.0  liberia
2 2014-06-22          28.0       16.0  liberia
3 2014-06-24          33.0       18.0  liberia
4 2014-06-25          35.0       20.0  liberia

In [265]:
sl_final.head()

        date  new_infected  new_death country
0 2014-08-12          11.0      264.0      sl
1 2014-08-13          15.0      273.0      sl
2 2014-08-14          13.0      280.0      sl
3 2014-08-15          10.0      287.0      sl
4 2014-08-16          18.0      297.0      sl

In [266]:
final_data = pd.concat([sl_final, guinea_final, liberia_final])
final_data.head()

        date  new_infected  new_death country
0 2014-08-12          11.0      264.0      sl
1 2014-08-13          15.0      273.0      sl
2 2014-08-14          13.0      280.0      sl
3 2014-08-15          10.0      287.0      sl
4 2014-08-16          18.0      297.0      sl

In [267]:
# final_data['date'] = final_data.index

In [268]:
final_data.set_index(['date', 'country'], inplace=True)

In [270]:
final_data

                    new_infected  new_death
date       country
2014-08-12 sl               11.0      264.0
2014-08-13 sl               15.0      273.0
2014-08-14 sl               13.0      280.0
2014-08-15 sl               10.0      287.0
2014-08-16 sl               18.0      297.0
2014-08-17 sl                2.0      305.0
2014-08-18 sl                5.0      312.0
2014-08-19 sl                9.0      320.0
2014-08-20 sl                4.0      322.0
2014-08-21 sl                9.0      329.0
2014-08-22 sl               56.0      333.0
2014-08-23 sl               23.0      336.0
2014-08-24 sl               31.0      341.0
2014-08-25 sl               20.0      355.0
2014-08-26 sl                6.0      363.0
2014-08-27 sl               27.0      372.0
2014-08-28 sl               30.0      377.0
2014-08-29 sl               15.0      383.0
2014-08-30 sl               44.0      387.0
2014-08-31 sl               44.0      387.0
2014-09-01 sl                9.0      396.0
2014-09-02 sl               31.0      399.0
2014-09-03 sl               28.0      404.0
2014-09-05 sl               23.0      413.0
2014-09-06 sl               42.0      426.0
2014-09-07 sl               11.0      428.0
2014-09-08 sl               17.0      433.0
2014-09-09 sl               36.0      436.0
2014-09-10 sl               26.0      445.0
2014-09-11 sl               34.0      450.0
2014-09-12 sl               31.0      459.0
2014-09-13 sl               22.0      463.0
2014-09-14 sl               49.0      468.0
2014-09-15 sl               29.0      474.0
2014-09-16 sl               29.0      483.0
2014-09-17 sl               36.0      489.0
2014-09-18 sl               33.0      495.0
2014-09-19 sl               22.0      497.0
2014-09-20 sl               56.0      501.0
2014-09-21 sl               49.0      502.0
2014-09-22 sl               30.0      506.0
2014-09-23 sl               41.0      509.0
2014-09-24 sl               75.0      509.0
2014-09-25 sl               35.0      513.0
2014-09-26 sl               23.0      513.0
2014-09-27 sl               56.0      518.0
2014-09-28 sl               90.0      522.0
2014-09-29 sl               65.0      527.0
2014-09-30 sl               24.0        0.0
2014-10-01 sl               33.0      532.0
2014-10-03 sl               35.0      538.0
2014-10-04 sl               81.0      678.0
2014-10-05 sl               48.0      699.0
2014-10-06 sl               22.0        0.0
2014-10-07 sl               93.0      708.0
2014-10-08 sl               16.0     1426.0
2014-10-10 sl               43.0      904.0
2014-10-11 sl               94.0      921.0
2014-10-12 sl               57.0      926.0
2014-10-13 sl               45.0      931.0
2014-10-14 sl               83.0      932.0
2014-10-15 sl               26.0      943.0
2014-10-16 sl               55.0      946.0
2014-10-17 sl               39.0      954.0
2014-10-18 sl               57.0      973.0
2014-10-19 sl              102.0     1136.0
2014-10-20 sl               72.0      997.0
2014-10-21 sl               50.0     1001.0
2014-10-22 sl               44.0     1008.0
2014-10-23 sl               60.0     1012.0
2014-10-24 sl               41.0     1026.0
2014-10-25 sl               70.0     1037.0
2014-10-26 sl               62.0     1044.0
2014-10-27 sl               91.0     1049.0
2014-10-28 sl               47.0     1057.0
2014-10-30 sl               50.0     1064.0
2014-10-31 sl               95.0     1070.0
2014-11-01 sl               60.0     1077.0
2014-11-02 sl               61.0     1085.0
2014-11-06 sl               41.0     1114.0
2014-11-07 sl               45.0     1126.0
2014-11-08 sl              111.0     1133.0
2014-11-10 sl               94.0     1149.0
2014-11-12 sl               61.0     1169.0
2014-11-13 sl               84.0        0.0
2014-11-15 sl               54.0        0.0
2014-11-16 sl               89.0        0.0
2014-11-17 sl               53.0        0.0
2014-11-18 sl               43.0        0.0
2014-11-20 sl               94.0     1282.0
2014-11-21 sl               51.0     1303.0
2014-11-22 sl               47.0     1333.0
2014-11-23 sl               39.0     1364.0
2014-11-24 sl               83.0     1397.0
2014-11-28 sl               84.0     2962.0
2014-11-29 sl              134.0     1496.0
2014-12-01 sl               72.0     1549.0
2014-12-04 sl               37.0     1648.0
2014-12-05 sl               54.0     1669.0
2014-12-06 sl                NaN     1708.0
2014-08-04 guinea            4.0        2.0
2014-08-26 guinea           10.0        NaN
2014-08-27 guinea           10.0        NaN
2014-08-30 guinea            9.0        NaN
2014-08-31 guinea           29.0        NaN
2014-09-02 guinea           10.0        NaN
2014-09-04 guinea           17.0        NaN
2014-09-07 guinea            8.0        NaN
2014-09-08 guinea           11.0        NaN
2014-09-09 guinea            7.0        NaN
2014-09-11 guinea           13.0        NaN
2014-09-14 guinea           14.0        NaN
2014-09-16 guinea            6.0        NaN
2014-09-17 guinea            6.0        NaN
2014-09-19 guinea           12.0        NaN
2014-09-21 guinea           17.0        NaN
2014-09-22 guinea           14.0        NaN
2014-09-23 guinea           25.0        NaN
2014-09-24 guinea           20.0        NaN
2014-09-26 guinea           10.0        NaN
2014-09-30 guinea           11.0        NaN
2014-10-01 guinea            6.0        NaN
2014-06-16 liberia          12.0        4.0
2014-06-17 liberia          13.0        8.0
2014-06-22 liberia          28.0       16.0
2014-06-24 liberia          33.0       18.0
2014-06-25 liberia          35.0       20.0
2014-06-28 liberia          41.0       26.0
2014-06-29 liberia          43.0       26.0
2014-07-01 liberia          48.0       30.0
2014-07-02 liberia          48.0       32.0
2014-07-03 liberia          49.0       33.0
2014-07-07 liberia          62.0       37.0
2014-07-08 liberia          62.0       38.0
2014-07-10 liberia          64.0       40.0
2014-07-13 liberia          64.0       42.0
2014-07-17 liberia          70.0       48.0
2014-07-20 liberia          71.0       50.0
2014-07-24 liberia          86.0       60.0
2014-07-26 liberia          92.0       66.0
2014-08-02 liberia         132.0      118.0
2014-08-04 liberia         137.0      122.0
2014-08-12 liberia         176.0      147.0
2014-08-15 liberia         194.0      172.0
2014-08-17 liberia         208.0      180.0
2014-08-18 liberia         236.0      206.0
2014-08-20 liberia         263.0      216.0
2014-08-25 liberia         322.0      280.0
2014-08-28 liberia         369.0      321.0
2014-09-01 liberia         406.0      390.0
2014-09-02 liberia         590.0      414.0
2014-09-03 liberia         608.0      425.0
2014-09-04 liberia         620.0      444.0
2014-09-05 liberia         622.0      480.0
2014-09-06 liberia         628.0      502.0
2014-09-07 liberia         648.0      509.0
2014-09-08 liberia         700.0      530.0
2014-09-10 liberia         790.0      563.0
2014-09-11 liberia         790.0      584.0
2014-09-12 liberia         790.0      604.0
2014-09-13 liberia         797.0      604.0
2014-09-14 liberia         806.0      626.0
2014-09-15 liberia         823.0      629.0
2014-09-16 liberia         847.0      659.0
2014-09-17 liberia         861.0      667.0
2014-09-20 liberia         866.0        NaN
2014-09-21 liberia         884.0      726.0
2014-09-23 liberia         908.0      786.0
2014-09-25 liberia         915.0      843.0
2014-09-26 liberia         917.0      882.0
2014-09-27 liberia         919.0      883.0
2014-09-28 liberia         921.0      884.0
2014-09-30 liberia         925.0      928.0
2014-10-01 liberia         926.0      943.0
2014-10-03 liberia         930.0      992.0
2014-10-04 liberia         935.0     2030.0
2014-10-05 liberia         935.0     1026.0
2014-10-07 liberia         937.0     1066.0
2014-10-08 liberia           0.0        NaN
2014-10-09 liberia           NaN       11.0
2014-10-11 liberia           NaN     1149.0
2014-10-22 liberia        2218.0        NaN
2014-10-23 liberia        2229.0        NaN
2014-10-24 liberia        2232.0        NaN
2014-10-25 liberia        2240.0        NaN
2014-10-28 liberia        2304.0        NaN
2014-10-29 liberia        2395.0        NaN
2014-10-30 liberia        2437.0        NaN
2014-10-31 liberia        2378.0        NaN
2014-11-02 liberia        2456.0        NaN
2014-11-04 liberia        2766.0        NaN
2014-11-08 liberia        2553.0        NaN
2014-11-14 liberia        2642.0        0.0
2014-11-15 liberia        2643.0        NaN
2014-11-19 liberia        2717.0        NaN
2014-11-21 liberia        2726.0        NaN
2014-11-23 liberia        2738.0        NaN
2014-11-24 liberia        2753.0        NaN
2014-11-26 liberia        2758.0        NaN
2014-11-27 liberia        2758.0        NaN
2014-11-28 liberia        2801.0        NaN
2014-11-29 liberia        2805.0        NaN
2014-11-30 liberia        2779.0        NaN
2014-12-01 liberia        2823.0        NaN
2014-12-02 liberia        2824.0        NaN
2014-12-03 liberia        2830.0        NaN