In [1]:
import pandas as pd
import numpy as np
import requests as requests
from bs4 import BeautifulSoup
import re
import matplotlib.pyplot as plt
%matplotlib inline

import pickle

pd.options.mode.chained_assignment = None  # default='warn'

In [5]:
r = requests.get('http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.filter?ww_i_reportModel=133685247')
soupe = BeautifulSoup(r.text, 'html.parser')

# Collect the data

In [59]:
all_data = pd.read_csv('all_data.csv', index_col=0)

In [60]:
all_data.columns

Index(['Civilité', 'Nom_Prénom', 'Orientation_Bachelor', 'Orientation_Master',
       'Spécialisation', 'Filière_opt.', 'Mineur', 'Statut', 'Type_Echange',
       'Ecole_Echange', 'No_Sciper', 'title', 'periode_acad',
       'periode_pedago'],
      dtype='object')

In [4]:
all_data.head()

,Civilité,Nom_Prénom,Orientation_Bachelor,Orientation_Master,Spécialisation,Filière_opt.,Mineur,Statut,Type_Echange,Ecole_Echange,No_Sciper,title,periode_acad,periode_pedago
0,Monsieur,Arévalo Christian,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,169569,"Informatique, 2009-2010, Bachelor semestre 5",2009-2010,Bachelor semestre 5
1,Monsieur,Badoud Morgan,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,173922,"Informatique, 2009-2010, Bachelor semestre 5",2009-2010,Bachelor semestre 5
2,Monsieur,Baeriswyl Jonathan,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,179406,"Informatique, 2009-2010, Bachelor semestre 5",2009-2010,Bachelor semestre 5
3,Monsieur,Balas Martin,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,174774,"Informatique, 2009-2010, Bachelor semestre 5",2009-2010,Bachelor semestre 5
4,Monsieur,Barroco Michael,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,179428,"Informatique, 2009-2010, Bachelor semestre 5",2009-2010,Bachelor semestre 5

In [13]:
first_master = all_data[all_data.periode_pedago == 'Master semestre 1']

In [15]:
first_master.No_Sciper.is_unique

False

In [16]:
first_master.No_Sciper.value_counts()

248447    3
170530    3
200932    3
166491    3
201568    2
153746    2
166701    2
193362    2
204393    2
170451    2
213552    2
259745    2
207028    2
200095    2
205617    2
194182    2
196118    2
203521    2
161127    2
202508    2
221295    2
185975    2
184366    2
193051    2
175339    2
193352    2
185811    2
175410    2
223239    2
214573    2
         ..
217280    1
183512    1
167168    1
214273    1
236802    1
193798    1
167045    1
146330    1
195899    1
202040    1
245047    1
146742    1
183605    1
175407    1
224557    1
224553    1
193832    1
210215    1
218401    1
177393    1
213584    1
206104    1
255255    1
245014    1
175379    1
212238    1
212234    1
224520    1
185607    1
215042    1
Name: No_Sciper, dtype: int64

In [29]:
[name for name in all_data.Nom_Prénom if 'Vincent' in name]

['Bindschaedler Vincent',
 'Galissard de Marignac Vincent',
 'Bindschaedler Vincent',
 'Galissard de Marignac Vincent',
 'Di Maïo Vincent',
 'Débieux Vincent',
 'Galissard de Marignac Vincent',
 'Guggenheim Daniel Vincent',
 'Loup Vincent',
 'Mettraux Vincent Michel',
 'Depraz Florian Vincent',
 'Eggerling Vincent',
 'Mouchet Christian Vincent',
 'Renucci Allan Vincent Roger',
 'Zellweger Vincent',
 'Guidoux Vincent Claude',
 'Rinaldi Vincent Michel Arnold Patrick',
 'Débieux Vincent',
 'Guggenheim Daniel Vincent',
 'Loup Vincent',
 'Depraz Florian Vincent',
 'Eggerling Vincent',
 'Galissard de Marignac Vincent',
 'Mettraux Vincent Michel',
 'Mouchet Christian Vincent',
 'Renucci Allan Vincent Roger',
 'Zellweger Vincent',
 'Delamare Arnaud Vincent Julien',
 'Guidoux Vincent Claude',
 'Moyse Orson Vincent Lawrence',
 'Rinaldi Vincent Michel Arnold Patrick',
 'Delamare Arnaud Vincent Julien',
 'Galissard de Marignac Vincent',
 'Zellweger Vincent',
 'Robert Vincent',
 'Guggenheim Daniel Vincent',
 'Loup Vincent',
 'Tournier Vincent',
 'Galissard de Marignac Vincent',
 'Zellweger Vincent',
 'Robert Vincent',
 'Depraz Florian Vincent',
 'Eggerling Vincent',
 'Mettraux Vincent Michel',
 'Mouchet Christian Vincent',
 'Renucci Allan Vincent Roger',
 'Guggenheim Daniel Vincent',
 'Loup Vincent',
 'Tournier Vincent',
 'Robert Vincent',
 'Robert Vincent',
 'Depraz Florian Vincent',
 'Eggerling Vincent',
 'Mettraux Vincent Michel',
 'Mouchet Christian Vincent',
 'Renucci Allan Vincent Roger',
 'Delort Vincent',
 'Di Maïo Vincent',
 'Delort Vincent',
 'Di Maïo Vincent',
 'Bindschaedler Vincent',
 'Epiney Vincent',
 'Bindschaedler Vincent',
 'Delamare Arnaud Vincent Julien',
 'Loup Vincent',
 'Débieux Vincent',
 'Demotz Vincent Daniel',
 'Galissard de Marignac Vincent',
 'Guggenheim Daniel Vincent',
 'Mettraux Vincent Michel',
 'Coriou Vincent Matthieu',
 'Micheli Vincent Emile',
 'Pantillon Kevin Vincent',
 'Delamare Arnaud Vincent Julien',
 'Débieux Vincent',
 'Demotz Vincent Daniel',
 'Depraz Florian Vincent',
 'Galissard de Marignac Vincent',
 'Guggenheim Daniel Vincent',
 'Loup Vincent',
 'Mettraux Vincent Michel',
 'Mouchet Christian Vincent',
 'Renucci Allan Vincent Roger',
 'Rinaldi Vincent Michel Arnold Patrick',
 'Coriou Vincent Matthieu',
 'Guidoux Vincent Claude',
 'Micheli Vincent Emile',
 'Pantillon Kevin Vincent',
 'Depraz Florian Vincent',
 'Eggerling Vincent',
 'Mouchet Christian Vincent',
 'Renucci Allan Vincent Roger',
 'Zellweger Vincent',
 'Rinaldi Vincent Michel Arnold Patrick',
 'Depraz Florian Vincent',
 'Eggerling Vincent',
 'Mettraux Vincent Michel',
 'Galissard de Marignac Vincent',
 'Zellweger Vincent',
 'Depraz Florian Vincent',
 'Eggerling Vincent',
 'Mettraux Vincent Michel',
 'Barrielle Vincent',
 'Bindschaedler Vincent',
 'Robert Vincent',
 'Robert Vincent',
 'Galissard de Marignac Vincent',
 'Zellweger Vincent',
 'Depraz Florian Vincent',
 'Eggerling Vincent',
 'Galissard de Marignac Vincent',
 'Mettraux Vincent Michel',
 'Mouchet Christian Vincent',
 'Renucci Allan Vincent Roger',
 'Zellweger Vincent',
 'Delamare Arnaud Vincent Julien',
 'Moyse Orson Vincent Lawrence',
 'Rinaldi Vincent Michel Arnold Patrick',
 'Depraz Florian Vincent',
 'Eggerling Vincent',
 'Galissard de Marignac Vincent',
 'Mettraux Vincent Michel',
 'Mouchet Christian Vincent',
 'Renucci Allan Vincent Roger',
 'Zellweger Vincent',
 'Débieux Vincent',
 'Guggenheim Daniel Vincent',
 'Loup Vincent',
 'Delamare Arnaud Vincent Julien',
 'Lausseure Jean-Vincent Jérôme',
 'Moyse Orson Vincent Lawrence',
 'Rinaldi Vincent Michel Arnold Patrick',
 'Riva Vincent Laurent',
 'Tournier Vincent',
 'Robert Vincent',
 'Débieux Vincent',
 'Guggenheim Daniel Vincent',
 'Loup Vincent',
 'Rinaldi Vincent Michel Arnold Patrick',
 'Delamare Arnaud Vincent Julien',
 'Loup Vincent',
 'Petri Vincent',
 'Gürtler Vincent',
 'Marache Leo Alexis Vincent',
 'Pantillon Kevin Vincent',
 'Demotz Vincent Daniel',
 'Depraz Florian Vincent',
 'Guggenheim Daniel Vincent',
 'Mettraux Vincent Michel',
 'Mouchet Christian Vincent',
 'Renucci Allan Vincent Roger',
 'Débieux Vincent',
 'Galissard de Marignac Vincent',
 'Barrielle Vincent',
 'Bindschaedler Vincent',
 'Galissard de Marignac Vincent',
 'Mettraux Vincent Michel',
 'Zellweger Vincent',
 'Barrielle Vincent',
 'Bindschaedler Vincent',
 'Galissard de Marignac Vincent',
 'Mettraux Vincent Michel',
 'Zellweger Vincent',
 'Delort Vincent',
 'Di Maïo Vincent',
 'Bindschaedler Vincent',
 'Epiney Vincent',
 'Delort Vincent',
 'Bozzo Vincent',
 'Di Maïo Vincent',
 'Bindschaedler Vincent',
 'Epiney Vincent',
 'Bozzo Vincent',
 'Pazeller Vincent']

In [30]:
all_data[all_data.Nom_Prénom == 'Débieux Vincent']

,Civilité,Nom_Prénom,Orientation_Bachelor,Orientation_Master,Spécialisation,Filière_opt.,Mineur,Statut,Type_Echange,Ecole_Echange,No_Sciper,title,periode_acad,periode_pedago
26,Monsieur,Débieux Vincent,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,224704,"Informatique, 2014-2015, Bachelor semestre 5",2014-2015,Bachelor semestre 5
22,Monsieur,Débieux Vincent,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,224704,"Informatique, 2014-2015, Bachelor semestre 6",2014-2015,Bachelor semestre 6
21,Monsieur,Débieux Vincent,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,224704,"Informatique, 2015-2016, Master semestre 1",2015-2016,Master semestre 1
36,Monsieur,Débieux Vincent,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,224704,"Informatique, 2015-2016, Master semestre 2",2015-2016,Master semestre 2
20,Monsieur,Débieux Vincent,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,224704,"Informatique, 2013-2014, Bachelor semestre 3",2013-2014,Bachelor semestre 3
19,Monsieur,Débieux Vincent,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,224704,"Informatique, 2013-2014, Bachelor semestre 4",2013-2014,Bachelor semestre 4
10,Monsieur,Débieux Vincent,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,224704,"Informatique, 2016-2017, Projet Master automne",2016-2017,Projet Master automne

In [37]:
first = all_data.head(1)
first.Civilité.

<bound method Series.get_value of 0    Monsieur
Name: Civilité, dtype: object>

In [53]:
master = all_data[['Master' in periode for periode in all_data.periode_pedago]]
len(master)

2844

In [54]:
grouped = master.groupby(by='No_Sciper')

In [104]:
no_master_1 = pd.DataFrame(columns=['Civilité', 'Nom_Prénom', 'Orientation_Bachelor', 'Orientation_Master',
       'Spécialisation', 'Filière_opt.', 'Mineur', 'Statut', 'Type_Echange',
       'Ecole_Echange', 'No_Sciper', 'title', 'periode_acad',
       'periode_pedago']) 

for scip, group in grouped:
    if (group.periode_pedago != 'Master semestre 1').all(): 
        no_master_1 = pd.concat([no_master_1, group])
        x.append(group)
len(no_master_1.No_Sciper.unique())

76

In [105]:
df_2006 = no_master_1[no_master_1.periode_acad == '2007-2008']
len(df_2006.No_Sciper.unique())

66

In [113]:
df = no_master_1[no_master_1.periode_acad != '2007-2008' or no_master_1.periode_acad != '2008-2009']
df

TypeError: cannot compare a dtyped [object] array with a scalar of type [bool]

In [91]:
all_data[all_data.Nom_Prénom == 'Beaud Sylvain']

,Civilité,Nom_Prénom,Orientation_Bachelor,Orientation_Master,Spécialisation,Filière_opt.,Mineur,Statut,Type_Echange,Ecole_Echange,No_Sciper,title,periode_acad,periode_pedago
10,Monsieur,Beaud Sylvain,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,227400,"Informatique, 2012-2013, Bachelor semestre 2",2012-2013,Bachelor semestre 2
14,Monsieur,Beaud Sylvain,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,227400,"Informatique, 2012-2013, Bachelor semestre 1",2012-2013,Bachelor semestre 1